.PromotionsSmallBox {
    margin-top: -40px;
    background-color: #fff;

    .PromotionsSmallList {

        .owl-carousel {
            .owl-nav {
                button {
                    display: inline-block;
                    &:focus {
                        outline: none;
                    }
                    span {
                        display: block;
                        font-size: 51px;
                        line-height: 21px;
                        background-color: #4f7906;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .slider {
            position: relative;
            height:226px;
            width:100%;
            margin-bottom: 30px;
            overflow: hidden;

            &-inner {
                position: absolute;
            }
        }

        text-align: left;
        padding: 8px;

        .PromotionItem {
            height:226px;
            width:226px;
            display: inline-block;
            cursor: pointer;
            margin: 12px;

            h1, h3, p {
                font-family: Montserrat;
                color: #353535;
                text-align: left;
            }

            .imageBlock {
                position: relative;
                .image {
                    height: 100%;
                    width: 100%;
                    margin-bottom: 12px;
                }
                .discount {
                    position: absolute;
                    bottom: -3px;
                    right: 1px;
                    width: 65px;
                    height: 28px;
                    padding-left: 15px;
                    padding-top: 4px;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 4px;
                    background-color: #eee42a;
                    color: #353535;
                }
            }

            .name {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 12px;
            }

            .priceBlock {
                p {
                    display: inline-block;
                }
               .price {
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 4px;
                }
                .discountPrice {
                    font-size: 13px;
                    color: #acacac;
                    text-decoration: line-through solid #acacac;
                }
            }

            
        }

        @media screen and (max-width: 767px){
            .PromotionItem {
                width: 100%;
                margin: 0;
            }
        }

        .default-button {
            margin-left: 12px;

            span {
                margin-top: 7px;
            }
        }

        @media screen and (max-width: 767px){
            .default-button {
                margin: auto;
            }
        }

    }
}
