.MapTemplate {
    .MapPoint {
        position: relative;
        .map-marker {
            margin-left: -12px;
            color: rgb(214, 0, 0);
            font-size: 32px;
        }
        .map-pointer-logo {
            width: 100px;
            // height: 100px;
            margin-left: -50px;
        }    
    }
    .MapItemTemplate {
        // text-align: left;
        img {
            max-width: 90%;
            // max-height: 200px;
        }
        p {
            max-width: 90%;
            text-align: left;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.31px;
            color: #acacac;
            &.map-name {
                color: #353535;
                font-size: 14px;
            }
        }
    }
}